@tailwind base;

@font-face {
    src: url("/fonts/big_noodle_titling_oblique.ttf") format("truetype");
    font-family: Big Noodle Too;
}

@font-face {
    src: url("/fonts/BigstarRegular-jE91M.otf") format("opentype");
    font-family: Big Star;
}


@tailwind components;
@tailwind utilities;

.text-outlined {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-shadow: darkorange 0 0 2px;
}
